body {
    display: flex;
    flex-direction: column;
    top: 750px;
    min-height: 100vh; /* Ensure full viewport height */
    margin: 0;
    font-family: Copperplate, Fantasy; /* Adjust font family as needed */
    overflow-y: auto; /* Allow vertical scrolling */
}
h2 {
    font-size: 2.5em;
    letter-spacing: 0.02em;
    color: rgb(245, 245, 245);
}

.page-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 680px; /* Adjust top margin as needed */
    /* background-color: #0056b3; */
}

.main-title {
    color:rgb(120, 120, 221);
    font-size: 3.0em;
}

.container {
    width: 80%; /* Adjust container width as needed */
    margin-bottom: 20px; /* Add spacing between sections */
}

.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; /* Adjust margin between sections */
    /* background: purple; */
    padding: 20px; /* Add padding to create space */
}

.intro-left {
    width: 50%; /* Adjust width of left column */
}

.intro-left img {
    width: 100%; /* Ensure image fills its container */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure image does not exceed container width */
    border-radius: 10px;
}

.intro-right {
    width: 50%; /* Adjust width of right column */
    padding: 0 20px; /* Add padding inside the container */
    text-align: justify; /* Center-align text */
    font-family: Fantasy, Impact;
}

.program-name {
    letter-spacing: 0.03em;
    color: rgb(120, 120, 221);
    font-size: 1.1em;
}

.span-words{
    letter-spacing: 0.03em;
    color: rgb(120, 120, 221);
    /* font-weight: bold; */
}

.program-goals {
    text-align: center; /* Center-align heading */
    /* background-color: black; */
}

.goals-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; /* Add space between goals */
    /* background-color: red; */
}

.goal {
    width: 30%; /* Adjust width of each goal item */
    text-align: center; /* Center-align content */
    background-color: rgb(120, 120, 221);
    border-radius: 10px;
    margin: 20px 0;
    border: 1px solid white;
    transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out; /* Apply transition to both states */
}

.goal:hover {
    background-color: transparent;
    border: 1px solid rgb(120, 120, 221);    
}

.goal img {
    width: 100%; /* Ensure image fills its container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add space below image */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.goal p {
    margin-bottom: 20px;
}

/* DOWNLOAD SECTION */

.download-section {
    text-align: center; /* Center-align content */
    /* background-color: red; */
}

.download-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

/* .download-section form label {
    margin-bottom: 10px; 
} */

.download-section form input,
.download-section form button {
    margin-bottom: 10px; /* Add space below inputs and button */
    width: 25%; /* Adjust width of inputs and button */
    padding: 10px; /* Add padding */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius */
}

.btn-download,
.btn-signup {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px; /* Add space above buttons */
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-download:hover,
.btn-signup:hover {
    background-color: #0056b3;
}

/* PROGRAM AND EQUIPMENT SECTION */

.program-equipment-section {
    text-align: center;
    margin-bottom: 20px; /* Add space below the section */
}

.section-heading {
    font-size: 2.5em;
    margin-bottom: 20px; /* Add space below the heading */
}

.program-section,
.equipment-section {
    width: 40%;
    background-color: rgb(120, 120, 221);
    border-radius: 15px;
    padding: 20px; /* Add padding inside the sections */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
    border: 1px solid white;
    transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out; /* Apply transition to both states */
    display: inline-block; /* Display inline-block to keep them side by side */
    vertical-align: top; /* Align to the top of the container */
    margin: 0 10px; /* Add margin between sections */
}

.program-section h2,
.equipment-section h2 {
    font-size: 2em;
    text-align: center; /* Center the titles */
    margin-bottom: 20px; /* Add space below the titles */
}

.program-section .included-list,
.equipment-section .equipment-list {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: flex-start; /* Align items to the start (left) */
    padding-left: 1em; /* Adjust padding to align with the title */
    width: 100%; /* Ensure the list takes full width */
}

.program-section .included-list li,
.equipment-section .equipment-list li {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ffffff;
    display: flex;
    align-items: center; /* Align items vertically */
}

.program-section .included-list li:before,
.equipment-section .equipment-list li:before {
    content: "\2714"; /* Unicode character for bullet */
    color: #ffffff; /* Color of the bullet */
    display: inline-block;
    width: 1em; /* Adjust spacing from text */
    margin-right: 0.5em; /* Space between bullet and text */
}

.program-section .included-list li:first-child,
.equipment-section .equipment-list li:first-child {
    margin-top: 10px;
}

.program-section:hover,
.equipment-section:hover {
    background-color: transparent;
    border: 1px solid rgb(120, 120, 221);
}

/* LEVEL UP SECTION */

.level-up-section {
    text-align: center; /* Center-align content */
    margin-top: 40px; /* Adjust top margin */
    /* background-color: #40D3DC; */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center all children horizontally */
}

.level-up-section h2,
.level-up-section p {
    margin-bottom: 20px; /* Add space below title and paragraph */
}

.slider {
    width:800px;
    height:500px;
    border-radius:10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex; 
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
}

/* Manual Slide Nav */
.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;;
}

.manual-btn {
    border: 2px solid #007BFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #007BFF;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/* Automatic Nav */
.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #007BFF;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #007BFF;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #007BFF;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #007BFF;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #007BFF;
}


/* .btn-level-up {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-level-up:hover {
    background-color: #0056b3;
} */


/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    width: 100%;
    text-align: center;
    position: relative; /* Ensure positioning context for absolute elements */
}

/* .footer-line {
    position: absolute;
    top: 10;
    left: 0;
    right: 0;
    height: 5px; 
    background-color: #fff;
} */

.footer-columns {
    display: flex;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
    border-top: 1px solid #444;
    padding: 10px 0;
}


.footer-column {
    width: 9%; /* Adjust width of each column */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
}

.footer-column h3 {
    font-size: 1.55em;
    margin-bottom: 15px; /* Adjust margin for title */
    letter-spacing: 0.03em;
    text-align: left;
    color: rgb(120, 120, 221);
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.footer-column ul li {
    margin-bottom: 5px;
    font-size: 0.85em;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column ul li a:hover {
    color: rgb(120, 120, 221);
}

.socials {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: flex-start; /* Align items to the start (left) */
}

.social-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px; /* Space between icons */
    justify-content: flex-start; /* Align items to the start (left) */
}

.social-links li {
    margin-bottom: 0; /* Remove bottom margin for icons */
}

.social-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links li a:hover {
    color: rgb(120, 120, 221);
}

.social-links li a i {
    font-size: 1.5em; /* Adjust icon size */
}

/* Footer Copyright Styles */
.footer-copyright {
    width: 100%;
    background-color: #333; /* Match the background color of the footer */
    color: #fff; /* White text color */
    text-align: center; /* Center-align the text */
    padding: 10px 0; /* Add padding for spacing */
    font-size: 0.9em; /* Adjust font size */
    border-top: 1px solid #444; /* Optional: Add a top border for separation */
    position: relative;
    bottom: 0;
}


/* RESPONSIVE */
@media screen and (max-width: 1280px) {
    body {
        margin-top: 180px;
    }
    .intro-section {
        flex-direction: column;
        margin-bottom: 0;
    }

    .intro-left,
    .intro-right {
        width: 100%; /* Adjust to full width for smaller screens */
    }

    .intro-right {
        order: 1; /* Display intro-right (text) first */
        display: flex;
        flex-direction: column;
        align-items: center; /* Center-align the button horizontally */
    }

    .intro-left {
        order: 2; /* Display intro-left (image) second */
    }

    .intro-left img {
        max-width: 75%; /* Adjust the max-width as needed */
        height: auto; /* Maintain aspect ratio */
        margin: 0 auto; /* Center the image */
        display: block;
    }

    .btn-download {
        margin: 20px 0;
    }

    .program-section,
    .equipment-section {
        width: 40%;
    }
    
    .program-section h2,
    .equipment-section h2 {
        font-size: 1.5em;
        text-align: center; /* Center the titles */
        margin-bottom: 5px;
    }

    .program-section .included-list li,
    .equipment-section .equipment-list li {
        font-size: 1em;
    }

    /* LEVEL UP SECTION */

    .level-up-section {
        text-align: center; /* Center-align content */
        display: flex;
        flex-direction: column;
        align-items: center; /* Center all children horizontally */
    }

    .level-up-section h2,
    .level-up-section p {
        margin-bottom: 20px; /* Add space below title and paragraph */
    }

    .slider {
        width: 600px; /* Adjust width to make it smaller */
        height: 375px; /* Adjust height to maintain aspect ratio */
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
        position: relative; /* Ensure positioning context for absolute elements */
    }

    .slides {
        width: 500%;
        height: 375px; /* Match slider height */
        display: flex; 
    }

    .slides input {
        display: none;
    }

    .slide {
        width: 20%;
        transition: 2s;
    }

    .slide img {
        width: 600px; /* Match slider width */
        height: 375px; /* Maintain aspect ratio */
    }

    /* Manual Slide Nav */
    .navigation-manual {
        position: absolute;
        width: 600px; /* Match slider width */
        margin-top: -40px;
        display: flex;
        justify-content: center;
    }

    .manual-btn {
        border: 2px solid #007BFF;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }

    .manual-btn:not(:last-child) {
        margin-right: 40px;
    }

    .manual-btn:hover {
        background: #007BFF;
    }

    #radio1:checked ~ .first {
        margin-left: 0;
    }

    #radio2:checked ~ .first {
        margin-left: -20%;
    }

    #radio3:checked ~ .first {
        margin-left: -40%;
    }

    #radio4:checked ~ .first {
        margin-left: -60%;
    }

    /* Automatic Nav */
    .navigation-auto {
        position: absolute;
        display: flex;
        width: 600px; /* Match slider width */
        justify-content: center;
        margin-top: 335px; /* Adjust position for new slider height */
    }

    .navigation-auto div {
        border: 2px solid #007BFF;
        padding: 5px;
        border-radius: 10px;
        transition: 1s;
    }

    .navigation-auto div:not(:last-child){
        margin-right: 40px;
    }

    #radio1:checked ~ .navigation-auto .auto-btn1 {
        background: #007BFF;
    }

    #radio2:checked ~ .navigation-auto .auto-btn2 {
        background: #007BFF;
    }

    #radio3:checked ~ .navigation-auto .auto-btn3 {
        background: #007BFF;
    }

    #radio4:checked ~ .navigation-auto .auto-btn4 {
        background: #007BFF;
    }


}

@media screen and (max-width: 1024px) {
    body {
        margin-top: 480px;
    }

}


@media screen and (max-width: 768px) {

}

@media screen and (max-width: 415px) {

}

@media screen and (max-width: 390px) {

}