html {
    scrollbar-width: none;
}

/*================= PROGRAMS CONTAINER ==================*/

.programs-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 10px;
    color: #333;
    width: 80%; /* Adjust width as needed */
    max-width: 800px; /* Increase maximum width to accommodate one-line text */
    margin: 110px auto 50px auto; /* Center horizontally and add space below */
}

.programs-container h1 {
    font-size: 3em;
    color: #007bff;
    word-wrap: normal; /* Ensure the text does not wrap */
}

/*================= INTRO SECTION CONTAINER ==================*/

.intro-section-container {
    display: flex;
    justify-content: space-between; /* Ensure the items are spread out evenly */
    align-items: center;
    margin: 50px auto; /* Center the container and add space above */
    padding: 20px; /* Add padding to create space */
    width: 80%;
    max-width: 1200px; /* Limit maximum width for responsiveness */
    background-color: rgba(255, 255, 255, 0.8); /* Optional: background color */
    border-radius: 10px; /* Optional: rounded corners */
}

.intro-left {
    flex: 1; /* Allow the left section to take up available space */
    margin-right: 20px; /* Add space between the sections */
}

.intro-left img {
    width: 100%; /* Ensure image fills its container */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensure image does not exceed container width */
    border-radius: 10px;
}

.intro-right {
    flex: 1; /* Allow the right section to take up available space */
    display: flex;
    flex-direction: column;
    text-align: justify; /* Justify text */
    font-family: Fantasy, Impact;
    padding-left: 20px; /* Add padding inside the container */
}

.program-name {
    letter-spacing: 0.03em;
    color: rgb(120, 120, 221);
    font-size: 1.1em;
}

.span-words {
    letter-spacing: 0.03em;
    color: rgb(120, 120, 221);
}

.btn-download {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 40px; /* Add space above buttons */
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    align-self: center; /* Center the button horizontally */
}

.btn-download:hover {
    background-color: #0056b3;
}

/*================= PROGRAM GOALS CONTAINER ==================*/
.program-goals-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 10px;
    color: #333;
    width: 80%;
    max-width: 1200px; /* Adjust width as needed */
    margin: 50px auto; /* Center horizontally and add space below */
}

.program-goals-container h2 {
    font-size: 2.5em;
    color: #007bff;
    margin-bottom: 20px; /* Add space below heading */
}

.goals-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Ensure goals wrap on smaller screens */
    margin-top: 20px; /* Add space between goals */
}

.goal {
    width: 30%; /* Adjust width of each goal item */
    text-align: center; /* Center-align content */
    background-color: rgb(120, 120, 221);
    border-radius: 10px;
    margin: 20px 0;
    border: 1px solid white;
    transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out; /* Apply transition to both states */
}

.goal:hover {
    background-color: transparent;
    border: 1px solid rgb(120, 120, 221);    
}

.goal img {
    width: 100%; /* Ensure image fills its container */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Add space below image */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.goal p {
    margin-bottom: 20px;
}

/*================= PROGRAM EQUIPMENT SECTION CONTAINER ==================*/
.program-equipment-section-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 10px;
    color: #333;
    width: 80%;
    max-width: 1200px; /* Adjust width as needed */
    margin: 50px auto; /* Center horizontally and add space below */
}

.program-equipment-section-container .section-heading {
    font-size: 2.5em;
    color: #007bff;
    margin-bottom: 20px; /* Add space below the heading */
}

.program-section,
.equipment-section {
    width: 45%; /* Adjust width to fit within the container */
    background-color: rgb(120, 120, 221);
    border-radius: 10px;
    padding: 20px; /* Add padding inside the sections */
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
    border: 1px solid white;
    transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out; /* Apply transition to both states */
    display: inline-block; /* Display inline-block to keep them side by side */
    vertical-align: top; /* Align to the top of the container */
    margin: 0 10px; /* Add margin between sections */
    text-align: left;
}

.program-section h2,
.equipment-section h2 {
    font-size: 2em;
    text-align: center; /* Center the titles */
    margin-bottom: 20px; /* Add space below the titles */
}

.program-section .included-list,
.equipment-section .equipment-list {
    display: flex;
    flex-direction: column; /* Align items vertically */
    align-items: flex-start; /* Align items to the start (left) */
    padding-left: 1em; /* Adjust padding to align with the title */
    width: 100%; /* Ensure the list takes full width */
}

.program-section .included-list li,
.equipment-section .equipment-list li {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ffffff;
    display: flex;
    align-items: center; /* Align items vertically */
}

.program-section .included-list li:before,
.equipment-section .equipment-list li:before {
    content: "\2714"; /* Unicode character for bullet */
    color: #ffffff; /* Color of the bullet */
    display: inline-block;
    width: 1em; /* Adjust spacing from text */
    margin-right: 0.5em; /* Space between bullet and text */
}

.program-section .included-list li:first-child,
.equipment-section .equipment-list li:first-child {
    margin-top: 10px;
}

.program-section:hover,
.equipment-section:hover {
    background-color: transparent;
    border: 1px solid rgb(120, 120, 221);
}

/*================= LEVEL UP SECTION CONTAINER ==================*/
.level-up-section-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 10px;
    color: #333;
    width: 80%;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center all children horizontally */
}

.level-up-section-container h2 {
    font-size: 2.5em;
    color: #007bff;
    margin-bottom: 20px;
}

.level-up-section-container p {
    margin-bottom: 20px;
}

.slider {
    width:800px;
    height:500px;
    border-radius:10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex; 
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;
}

/* Manual Slide Nav */
.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;;
}

.manual-btn {
    border: 2px solid #007BFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #007BFF;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/* Automatic Nav */
.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #007BFF;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #007BFF;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #007BFF;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #007BFF;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #007BFF;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .intro-section-container {
        flex-direction: column; /* Stack sections vertically on small screens */
        text-align: center; /* Center-align text */
    }

    .intro-left, .intro-right {
        width: 100%; /* Ensure full width on small screens */
        margin: 0; /* Remove margin */
        padding: 10px 0; /* Add padding */
    }

    .intro-left img {
        margin-bottom: 20px; /* Add space below the image */
    }

    .goals-container {
        flex-direction: column; /* Stack goals vertically on small screens */
        align-items: center; /* Center-align goals */
    }

    .goal {
        width: 80%; /* Ensure goals take up more width on small screens */
    }

    .program-equipment-section-container {
        flex-direction: column; /* Stack sections vertically on small screens */
        text-align: center; /* Center-align text */
    }

    .program-section, .equipment-section {
        width: 100%; /* Ensure full width on small screens */
        margin: 10px 0; /* Add margin between sections */
    }

    .level-up-section-container {
        width: 90%; /* Adjust width for smaller screens */
        padding: 15px; /* Reduce padding for smaller screens */
    }

    .level-up-section-container h2,
    .level-up-section-container p {
        margin-bottom: 15px; /* Add space below title and paragraph */
    }

    .slider {
        width: 100%; /* Adjust slider width to full width */
        max-width: 400px; /* Limit slider width for smaller screens */
        height: auto; /* Allow slider height to adjust */
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
        position: relative; /* Ensure positioning context for absolute elements */
    }

    .slides {
        width: 400%; /* Adjust width of slides for smaller screens */
        height: auto; /* Allow slider height to adjust */
        display: flex;
        overflow: hidden; /* Hide overflow to prevent content overflow */
    }

    .slide {
        width: 25%; /* Adjust slide width for smaller screens */
        transition: 2s;
    }

    .slide img {
        width: 100%; /* Ensure images within slides take full width */
        height: auto; /* Allow images to adjust height */
        object-fit: cover; /* Ensure images cover the entire slide */
        border-radius: 10px; /* Maintain rounded corners for images */
    }

    /* Manual Slide Nav */
    .navigation-manual {
        position: absolute;
        width: 100%; /* Adjust navigation width to full width */
        bottom: 10px; /* Position navigation at the bottom of the slider */
        display: flex;
        justify-content: center;
    }

    .manual-btn {
        border: 2px solid #007BFF;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
        margin: 0 5px; /* Adjust margin for spacing between buttons */
    }

    #radio1:checked ~ .first {
        margin-left: 0;
    }

    #radio2:checked ~ .first {
        margin-left: -25%;
    }

    #radio3:checked ~ .first {
        margin-left: -50%;
    }

    #radio4:checked ~ .first {
        margin-left: -75%;
    }

    /* Automatic Nav */
    .navigation-auto {
        position: absolute;
        width: 100%; /* Adjust navigation width to full width */
        bottom: 20px; /* Position navigation at the bottom of the slider */
        display: flex;
        justify-content: center;
    }

    .navigation-auto div {
        border: 2px solid #007BFF;
        padding: 5px;
        border-radius: 10px;
        transition: 0.3s;
        margin: 0 5px; /* Adjust margin for spacing between buttons */
    }

    #radio1:checked ~ .navigation-auto .auto-btn1 {
        background: #007BFF;
    }

    #radio2:checked ~ .navigation-auto .auto-btn2 {
        background: #007BFF;
    }

    #radio3:checked ~ .navigation-auto .auto-btn3 {
        background: #007BFF;
    }

    #radio4:checked ~ .navigation-auto .auto-btn4 {
        background: #007BFF;
    }
}