
/* General container styling */
.container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    color: #333;
    position: absolute;
    top: var(--header-height);
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Limit maximum width for responsiveness */
}

.container h1 {
    font-size: 3em;
    color: #007bff;
}

.container p {
    font-size: 1.2em;
    color: #555;
}

/* Questions container styling with scrollbar */
.questions-container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    color: #333;
    position: absolute;
    top: calc(var(--header-height) + 20px); /* Adjust accordingly */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Limit maximum width for responsiveness */
    height: calc(100vh - 310px); /* Adjust height to fit within the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
}

.questions-container h2 {
    font-size: 2em;
    color: #ff0000;
    margin-bottom: 10px;
}

.questions-container p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 20px; /* Space below each answer */
}

/* Scrollbar styling for Webkit-based browsers */
.questions-container::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.questions-container::-webkit-scrollbar-track {
    background: transparent; /* Set scrollbar track to transparent */
}

.questions-container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
}

.questions-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

/* Styling the scrollbar for Firefox */
.questions-container {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #888 transparent; /* Thumb and track colors */
}

/* MEDIA QUERIES FOR MEDIUM DEVICES */
@media screen and (max-width: 1024px) {

}

/* MEDIA QUERIES FOR SMALL DEVICES */
@media screen and (max-width: 600px) {
    .questions-container {
        top: calc(400px + 20px + 10px);
        height: calc(100vh - 410px); /* Adjust height to fit within the viewport */
    }
}
