* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    text-align: center;
}

.start-button {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.start-button:hover {
    background-color: #45a049;
}

.exercise-container {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 20px;
}

.exercise-container img {
    width: 300px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    object-fit: contain; /* Ensure the image covers the area without distortion */
    border-radius: 10px; /* Optional: rounded corners */
    margin: 10px 0; /* Optional: add some margin */
}


.navigation {
    margin-top: 20px;
}

.navigation a {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.navigation a:hover {
    background-color: #45a049;
}
