.container {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    color: #333;
    position: absolute;
    top: 115px; /* Adjust this value to match the height of your navbar */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Limit maximum width for responsiveness */
    max-height: 80vh; /* Limit the height to 80% of the viewport height */
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
}

.container h1 {
    font-size: 3em;
    color: #007bff;
}

.container form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.container label {
    margin-bottom: 10px;
}

.container input, .container select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #0056b3;
}

.result .calories {
    margin-bottom: 10px;
}

.result {
    margin-top: 20px;
}

.result h2 {
    font-size: 2em;
    color: #ff0000;
    margin-bottom: 10px;
}

.result p {
    font-size: 1.2em;
    color: #555;

}

.result .range {
    font-size: 0.8em;
    color: #6e6e6e;
    margin-bottom: 10px;
}

/* Scrollbar styling for Webkit-based browsers */
.container::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.container::-webkit-scrollbar-track {
    background: transparent; /* Set scrollbar track to transparent */
}

.container::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
}

.container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

/* Styling the scrollbar for Firefox */
.container {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #888 transparent; /* Thumb and track colors */
}

/* MEDIA QUERIES FOR MEDIUM DEVICES */
@media screen and (max-width: 1024px) {
    .container {
        top: 130px; /* Adjust the top value for medium devices */
    }
}

/* MEDIA QUERIES FOR SMALL DEVICES */
@media screen and (max-width: 600px) {
    .container {
        top: 135px; /* Adjust the top value for small devices */
        width: 90%; /* Make container a bit wider */
        padding: 10px; /* Reduce padding for small devices */
        max-height: calc(100vh - 150px); /* Ensure the container fits within the viewport */
    }

    /* Scrollbar styling for Webkit-based browsers */
    .container::-webkit-scrollbar {
        width: 12px; /* Width of the scrollbar */
    }

    .container::-webkit-scrollbar-track {
        background: transparent; /* Set scrollbar track to transparent */
    }

    .container::-webkit-scrollbar-thumb {
        background: #888; /* Color of the scrollbar thumb */
        border-radius: 10px; /* Rounded corners */
    }

    .container::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color of the scrollbar thumb on hover */
    }

    /* Styling the scrollbar for Firefox */
    .container {
        scrollbar-width: thin; /* Thin scrollbar */
        scrollbar-color: #888 transparent; /* Thumb and track colors */
    }
}