{% extends "base.html" %}

{% block title %}Beginner Program{% endblock %}

{% block content %}
    {#<div class="page-container">
        <h1 class="main-title">Welcome to the Beginner Program!</h1>

        <div class="intro-section container">
            <div class="intro-left">
                <img src="{{ url_for('static', filename='Images/Programs/Beginner/beginnerprog.png')}}" alt="Gym Image">
            </div>
            <div class="intro-right">
                <p>
                    The <strong class="program-name">DevCalisthenics Beginner Program</strong> is designed to build a strong foundation in calisthenics by focusing on three key goals:
                    <span class="span-words">core strength, upper body strength, and body control.</span>
                </p>
                <br>
                <p>
                    Through a series of carefully structured exercises, you will develop essential <span class="span-words">core stability</span> that supports all movement, 
                    improve <span class="span-words">upper body strength</span> with exercises such as push-ups and pull-ups, and enhance overall <span class="span-words">body coordination and balance.</span> 
                    This program aims to equip beginners with the skills and confidence needed to progress to more advanced calisthenics movements, 
                    setting the stage for long-term fitness and functional strength.
                </p>
                <br>
                <p>You can download the complete <span class="span-words">beginner program</span> in PDF format by clicking the button below or by scrolling to the bottom of the page to have it sent to your email.</p> 
                <a href="#" class="btn-download" download>Download PDF</a>
            </div>
        </div>

        <div class="program-goals container">
            <h2>The Primary Goals for this Program Are:</h2>
            <div class="goals-container">
                <div class="goal">
                    <img src="{{ url_for('static', filename='Images/Programs/Beginner/devecore.png')}}" alt="Goal 1">
                    <p>Building Foundational Core Strength</p>
                </div>
                <div class="goal">
                    <img src="{{ url_for('static', filename='Images/Programs/Beginner/deveubs.png')}}" alt="Goal 2">
                    <p>Developing Upper Body Strength</p>
                </div>
                <div class="goal">
                    <img src="{{ url_for('static', filename='Images/Programs/Beginner/bodycoord.png')}}" alt="Goal 3">
                    <p>Improving Body Control & Coordination</p>
                </div>
            </div>
        </div>

        <div class="program-equipment-section container">
            <h2 class="section-heading">Everything You Need to Know</h2>
            <div class="program-section">
                <div class="program-details">
                    <h2 class="program-section-title">What the Program Includes:</h2>
                    <ul class="included-list">
                        <li>Comprehensive Warm-Up & Mobility Routine</li>
                        <li>Foundational Core Strength Exercises</li>
                        <li>Upper & Lower Body Strength Training Routine</li>
                        <li>Body Control & Coordination Routine</li>
                        <li>Video Tutorials for Each Exercise</li>
                        <li>Progress Tracking</li>
                    </ul>
                </div>
            </div>
            <div class="equipment-section">
                <div class="equipment-details">
                    <h2 class="equipment-section-title">Equipment Needed:</h2>
                    <ul class="equipment-list">
                        <li>Open Space (Outdoors or Indoors)</li>
                        <li>Exercise Mat (Optional)</li>
                        <li>Pull-Up Bar</li>
                        <li>Resistance Bands (Optional)</li>
                        <li>Jump Rope (Optional)</li>
                        <li>Dip Station (Sturdy Couch/Chair)</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="level-up-section container">
            <h2>Ready to Level Up?</h2>
            <p>Join our <strong class="program-name">DevCalisthenics community</strong> and take your <span class="span-words">fitness journey</span> to the next level!</p>

            <!--Image Slider Start-->
            <div class="slider">
                <div class="slides">
                    <!--Radio Btns Start-->
                    <input type="radio" name="radio-btn" id="radio1">
                    <input type="radio" name="radio-btn" id="radio2">
                    <input type="radio" name="radio-btn" id="radio3">
                    <input type="radio" name="radio-btn" id="radio4">
                    <!--Radio Btns End-->

                    <!--Slides Imgs Start-->
                    <div class="slide first">
                        <img src="{{ url_for('static', filename='Images/Programs/planche.png') }}" alt="Bodyweight Pullup">
                    </div>
                    <div class="slide">
                        <img src="{{ url_for('static', filename='Images/Programs/dipsoutdoor.png') }}" alt="Bodyweight Pullup">
                    </div>
                    <div class="slide">
                        <img src="{{ url_for('static', filename='Images/Programs/pullupgroup.png') }}" alt="Bodyweight Pullup">
                    </div>
                    <div class="slide">
                        <img src="{{ url_for('static', filename='Images/Programs/streetworkout.png') }}" alt="Bodyweight Pullup">
                    </div>
                    <!--Slides Imgs End-->

                    <!--Automatic Navigation Start-->
                    <div class="navigation-auto">
                        <div class="auto-btn1"></div>
                        <div class="auto-btn2"></div>
                        <div class="auto-btn3"></div>
                        <div class="auto-btn4"></div>
                    </div>
                    <!--Automatic Navigation End-->
                </div>
                <!--Manual Navigation Start-->
                <div class="navigation-manual">
                    <label for="radio1" class="manual-btn"></label>
                    <label for="radio2" class="manual-btn"></label>
                    <label for="radio3" class="manual-btn"></label>
                    <label for="radio4" class="manual-btn"></label>
                </div>
                <!--Manual Navigation End-->
            </div>
            <!--Image Slider End-->

            <!-- <a href="#" class="btn-level-up">Explore Programs</a> -->
        </div>
        
        <div class="download-section container">
            <h2>DevCalisthenics <br> Beginner Program</h2>
            <form action="{{ url_for('program', program_name='beginner_program') }}" method="post">
                <input type="text" id="name" name="name" placeholder="Name" required>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <button type="submit" class="btn-signup">Sign Up</button>
            </form>
            {% if thank_you_message %}
                <p>{{ thank_you_message }}</p>
            {% endif %}
        </div>
        
    </div>

    <footer class="footer">
        <!-- <div class="footer-line"></div> -->
        <div class="footer-columns container">
            <div class="footer-column">
                <h3>Blogs</h3>
                <ul>
                    <li><a href="#">Benefits of Calisthenics</a></li>
                    <li><a href="#">Importance of Nutrition</a></li>
                    <li><a href="#">Exercises for Beginners</a></li>
                    <li><a href="#">Nutritional Supplements</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Programs</h3>
                <ul>
                    <li><a href="#">Beginner Program</a></li>
                    <li><a href="#">Pull-Up Program</a></li>
                    <li><a href="#">Handstand Program</a></li>
                    <li><a href="#">Muscle-Up Program</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Nutrition</h3>
                <ul>
                    <li><a href="#">Macronutrients</a></li>
                    <li><a href="#">Macros Calculator</a></li>
                    <!-- Add more nutrition links as needed -->
                </ul>
            </div>
            <div class="footer-column">
                <h3>Support</h3>
                <ul>
                    <li><a href="#">General FAQs</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Nova</a></li>
                    <!-- Add more FAQ links as needed -->
                </ul>
            </div>
            <div class="footer-column">
                <h3>About Us</h3>
                <ul>
                    <li><a href="#">Meet the Team</a></li>
                    <li><a href="#">Careers</a></li>
                    <!-- Add more FAQ links as needed -->
                </ul>
            </div>
            <div class="footer-column">
                <h3>Socials</h3>
                <ul class="social-links">
                    <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <!-- <li><a href="https://www.x.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li> -->
                    <li><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="https://www.youtube.com" target="_blank"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="https://www.discord.com" target="_blank"><i class="fab fa-discord"></i></a></li>
                </ul>
            </div>
        </div>
        <!-- <div class="footer-line"></div> -->
        <div class="footer-copyright">
            <p>&copy; 2024 DevCalisthenics. All rights reserved.</p>
        </div>
    </footer>    

    <script src="{{ url_for('static', filename='javascript/gallery.js') }}"></script>#}

    <div class="programs-container">
        <h1>Welcome to the Beginner Program!</h1>
    </div>

    <div class="intro-section-container">
        <div class="intro-left">
            <img src="{{ url_for('static', filename='Images/Programs/Beginner/beginnerprog.png')}}" alt="Gym Image">
        </div>
        <div class="intro-right">
            <p>
                The <strong class="program-name">DevCalisthenics Beginner Program</strong> is designed to build a strong foundation in calisthenics by focusing on three key goals:
                <span class="span-words">core strength, upper body strength, and body control.</span>
            </p>
            <br>
            <p>
                Through a series of carefully structured exercises, you will develop essential <span class="span-words">core stability</span> that supports all movement, 
                improve <span class="span-words">upper body strength</span> with exercises such as push-ups and pull-ups, and enhance overall <span class="span-words">body coordination and balance.</span> 
                This program aims to equip beginners with the skills and confidence needed to progress to more advanced calisthenics movements, 
                setting the stage for long-term fitness and functional strength.
            </p>
            <br>
            <p>You can download the complete <span class="span-words">beginner program</span> in PDF format by clicking the button below or by scrolling to the bottom of the page to have it sent to your email.</p> 
            <a href="#" class="btn-download" download>Download PDF</a>
        </div>
    </div>

    <div class="program-goals-container">
        <h2>The Primary Goals for this Program Are:</h2>
        <div class="goals-container">
            <div class="goal">
                <img src="{{ url_for('static', filename='Images/Programs/Beginner/devecore.png')}}" alt="Goal 1">
                <p>Building Foundational Core Strength</p>
            </div>
            <div class="goal">
                <img src="{{ url_for('static', filename='Images/Programs/Beginner/deveubs.png')}}" alt="Goal 2">
                <p>Developing Upper Body Strength</p>
            </div>
            <div class="goal">
                <img src="{{ url_for('static', filename='Images/Programs/Beginner/bodycoord.png')}}" alt="Goal 3">
                <p>Improving Body Control & Coordination</p>
            </div>
        </div>
    </div>

{% endblock %}

{% block body_style %}
    style="background: url('{{ url_for('static', filename='Images/Programs/aestheticgym.png') }}') no-repeat center center fixed; background-size: cover;"
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/programs/program.css') }}">
{% endblock %}
