{% extends "base.html" %}

{% block title %}Beginner Program{% endblock %}

{% block content %}
    <div class="page-container">
        <h1 class="main-title">Welcome to the Beginner Program!</h1>

        <div class="intro-section container">
            <div class="intro-left">
                <img src="{{ url_for('static', filename='Images/Programs/Beginner/beginnerprog.png')}}" alt="Gym Image">
            </div>
            <div class="intro-right">
                <p>
                    The <strong class="program-name">DevCalisthenics Beginner Program</strong> is designed to build a strong foundation in calisthenics by focusing on three key goals:
                    <span class="span-words">core strength, upper body strength, and body control.</span>
                </p>
                <br>
                <p>
                    Through a series of carefully structured exercises, you will develop essential <span class="span-words">core stability</span> that supports all movement, 
                    improve <span class="span-words">upper body strength</span> with exercises such as push-ups and pull-ups, and enhance overall <span class="span-words">body coordination and balance.</span> 
                    This program aims to equip beginners with the skills and confidence needed to progress to more advanced calisthenics movements, 
                    setting the stage for long-term fitness and functional strength.
                </p>
                <br>
                <p>You can download the complete <span class="span-words">beginner program</span> in PDF format by clicking the button below.</p>
                <a href="#" class="btn-download" download>Download PDF</a>
            </div>
        </div>

        <div class="program-goals container">
            <h2>The Primary Goals for this Program Are:</h2>
            <div class="goals-container">
                <div class="goal">
                    <img src="{{ url_for('static', filename='Images/Programs/Beginner/devecore.png')}}" alt="Goal 1">
                    <p>Building Foundational Core Strength</p>
                </div>
                <div class="goal">
                    <img src="{{ url_for('static', filename='Images/Programs/Beginner/deveubs.png')}}" alt="Goal 2">
                    <p>Developing Upper Body Strength</p>
                </div>
                <div class="goal">
                    <img src="{{ url_for('static', filename='Images/Programs/Beginner/bodycoord.png')}}" alt="Goal 3">
                    <p>Improving Body Control & Coordination</p>
                </div>
            </div>
        </div>

        <div class="program-equipment-section container">
            <h2 class="section-heading">Everything You Need to Know</h2>
            <div class="program-section">
                <div class="program-details">
                    <h2 class="program-section-title">What the Program Includes:</h2>
                    <ul class="included-list">
                        <li>Comprehensive Warm-Up & Mobility Routine</li>
                        <li>Foundational Core Strength Exercises</li>
                        <li>Upper & Lower Body Strength Training Routine</li>
                        <li>Body Control & Coordination Routine</li>
                        <li>Video Tutorials for Each Exercise</li>
                        <li>Progress Tracking</li>
                    </ul>
                </div>
            </div>
            <div class="equipment-section">
                <div class="equipment-details">
                    <h2 class="equipment-section-title">Equipment Needed:</h2>
                    <ul class="equipment-list">
                        <li>Open Space (Outdoors or Indoors)</li>
                        <li>Exercise Mat (Optional)</li>
                        <li>Pull-Up Bar</li>
                        <li>Resistance Bands (Optional)</li>
                        <li>Jump Rope (Optional)</li>
                        <li>Dip Station (Sturdy Couch/Chair)</li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="download-section container">
            <h2>Download Section</h2>
            <form action="#">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <button type="submit" class="btn-signup">Sign Up</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block body_style %}
    style="background: url('{{ url_for('static', filename='Images/Programs/aestheticgym.png') }}') no-repeat center center fixed; background-size: cover;"
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/beginner_program.css') }}">
{% endblock %}