* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background: url('./Images/gym_s2.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: green;
    border:none;
    color:white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}