<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Fitness App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
</head>
<body style="background: url('{{ url_for('static', filename='Images/gym_s2.png') }}') no-repeat center center fixed; background-size: cover;">

    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="{{ url_for('exercise', exercise_id=1) }}" class="nav-link">Start Exercises</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
