<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DevCalisthenics{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/> <!--Change back to index.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"/> <!--Just testing-->
    {% block stylesheets %}{% endblock %}
</head>
<body {% block body_style %} style="background: url('{{ url_for('static', filename='Images/Home/ringggs.png') }}') no-repeat center center fixed; background-size: cover;" {% endblock %}>

    {# <nav class="navbar">
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='Images/Home/devcal.png') }}" alt="Logo">
            </a>
        </div>
        <ul class="nav-list">
            <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link">Programs</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('program', program_name='beginner_program')}}" class="dropdown-item">Beginner Program</a></li>
                    <li><a href="#" class="dropdown-item">Intermediate Program</a></li>
                    <li><a href="#" class="dropdown-item">Advanced Program</a></li>
                    <li><a href="#" class="dropdown-item">Handstand Program</a></li>
                    <li><a href="#" class="dropdown-item">Muscle-Up Program</a></li>
                    <li><a href="#" class="dropdown-item">Mobility Program</a></li>
                    <li><a href="#" class="dropdown-item">Pull-Up Program</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="{{ url_for('macronutrients')}}" class="nav-link">Nutrition</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('macronutrients')}}" class="dropdown-item">Macronutrients</a></li>
                    <li><a href="{{ url_for('macrocalculator')}}" class="dropdown-item">Macros Calculator</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="{{ url_for('exercise', exercise_id=1) }}" class="nav-link">Exercises</a></li>
            <li class="nav-item"><a href="{{ url_for('faq') }}" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="{{ url_for('all_blogs') }}" class="nav-link">Blog</a></li>
            <li class="nav-item nav-link-right"><a href="#" class="nav-link">Nova</a></li>
        </ul>

        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

    </nav> #}

    <header class="header">
        <nav class="nav container">
            <div class="nav__data">
                <a href="{{ url_for('home') }}" class="nav__logo">
                    <img src="{{ url_for('static', filename='Images/Home/devcal.png') }}" alt="Logo">
                </a>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line nav__burger"></i>
                    <i class="ri-close-line nav__close"></i>
                </div>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li><a href="#" class="nav__link">Home</a></li>
                    <li><a href="#" class="nav__link">Programs</a></li>
                    <li><a href="#" class="nav__link">Nutrition</a></li>
                    <li><a href="#" class="nav__link">Exercises</a></li>
                    <li><a href="#" class="nav__link">FAQs</a></li>
                    <li><a href="#" class="nav__link">Blogs</a></li>
                    <li><a href="#" class="nav__link">Nova</a></li>
                </ul>
            </div>

        </nav>
    </header>

    {% block content %}{% endblock %}

    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
</body>
</html>
