{% extends "base.html" %}

{% block title %}
    Blogs
{% endblock %}

{% block content %}
    <h1 class="blog-title">Blogs</h1>
    <div class="blog-list">
        {% for blog in blogs %}
        <div class="blog-container">
            <div class="blog-image">
                <img src="{{ url_for('static', filename=blog['image']) }}" alt="{{ blog['title'] }}">
            </div>
            <div class="blog-details">
                <h2 class="blog-heading"><a href="{{ url_for('blog', blog_id=blog['id']) }}">{{ blog['title'] }}</a></h2>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block body_style %}
    style="background: url('{{ url_for('static', filename='Images/blogsbg.png') }}') no-repeat center center fixed; background-size: cover;"
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blogs.css') }}">
{% endblock %}