{% extends "base.html" %}

{% block title %}
    {{ blog['title'] }}
{% endblock %}

{% block content %}
    <div class="blog-post">
        <div class="blog-title">{{ blog['title'] }}</div>
        <div class="blog-meta">Posted on {{ blog['date'] }} by {{ blog['author'] }}</div>
        <div class="blog-content">
            {{ blog['content'] | safe }}
        </div>
        <div class="back-to-blogs">
            <a href="{{ url_for('all_blogs') }}" class="back-button">Back to Blogs</a>
        </div>
    </div>
{% endblock %}

{% block body_style %}
    style="background: url('{{ url_for('static', filename='Images/Blogs/blogsbg.png') }}') no-repeat center center fixed; background-size: cover;"
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
{% endblock %}
