{% extends "base.html" %}

{% block title %}{{ exercise['Name'] }} - DevCalisthenics {% endblock %}

{% block content %}
<div class="frames">
    <div class="frame">
        <img src="{{ url_for('static', filename='Images/gym_setting.png') }}" alt="Frame One">
    </div>
    <div class="frame">
        <img src="{{ url_for('static', filename='Images/gym_bg.png') }}" alt="Frame Two">
    </div>
</div>

<div class="exercise-container">
    <h1 class="exercise-name">{{ exercise['Name'] }}</h1>
    <img src="{{ url_for('static', filename=exercise['image_path']) }}" alt="{{ exercise['Name'] }}">
    <p class="exercise-description">{{ exercise['Description'] }}</p>
    <ul class="exercise-instructions">
        {% for instruction in exercise['Instructions'] %}
            <li>{{ instruction }}</li>
        {% endfor %}
    </ul>
    <div class="navigation">
        {% if previous_id %}
            <a href="{{ url_for('exercise', exercise_id=previous_id) }}">Previous</a>
        {% endif %}
        {% if next_id %}
            <a href="{{ url_for('exercise', exercise_id=next_id) }}">Next</a>
        {% endif %}
    </div>
</div>
{% endblock %}
